body {
    
    font-family: Arial, sans-serif;
    background-image: url(../img/152668-astronauta-ambiente-el_espacio_exterior-objeto_astronomico-espacio-x750.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}


table {
    border-collapse: collapse;
    background: rgba(31, 2, 60, 0.6);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 25px #ff00ff, 0 0 40px rgba(255, 0, 255, 0.4);
}

caption {
    background: rgba(155, 25, 210, 0.8);
    color: #ffb3ff;
    font-size: 1.4em;
    padding: 12px;
    font-weight: bold;
    text-shadow: 0 0 10 #ff00ff;
}

th, td {
    text-align: left;
    padding: 10px 15px;
    border-bottom: 0.5px solid rgba(255, 0, 255, 0.3);
}

td {
    color: #ff66ff;
    text-shadow: 0 0 6px #ff00ff;
}


td a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

td a:hover {
    color: rgb(254, 0, 0);
    text-shadow: 0 0 10px #ffffff;
}

th {
    width: 60%;
    background-color: rgba(75, 0, 100, 0.7);
    border-right: 1px solid rgba(255, 0, 255, 0.3);
    color: #ffb3ff;
    text-shadow: 0 0 6px #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

tr:last-child td {
    border-bottom: none;
}



.nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.7% 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px #ff00ff;
    background-color: transparent;

}

.nav a {
    color: #ffd6ff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    padding: 8px 12px;
    text-shadow: 0 0 8px #ffffff;
}

.nav a:hover {
    color: white;
    text-shadow: 0 0 12px #ff00ff;
    border-bottom: 2px solid #ff00ff;
}

.tableta {
    margin-top: 7%;
}
@media screen and (max-width: 768px) {
    .tableta {
        margin-top: 20%;
    }

    th, td {
        padding: 8px 10px;
        font-size: 14px;
    }

    .nav {
        flex-direction: column;
        gap: 15px;
        padding: 1% 0;
    }
}